html, body{
  background-color: var(--background-color) !important;
}
.container{
    min-height: 100vh;
    padding: 0 2rem;
}
.btn-final{
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

input, textarea{
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: transparent;
  border: 1px solid var( --gray-color);
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 1rem !important;
}

button{
  border: none;
  cursor: pointer;
}

.btn-enter{
  background-color: var(--color-btn-enter);
  color:  var( --white-color);
  padding: 0.5rem 1.5rem;
  display: flex;
  cursor: pointer;
  border-radius: 10px;
}
.btn-enter:hover{
  background-color: #5F81D2;
 
}
.btn-enter:disabled {
  background-color: gray !important;
  cursor: not-allowed;
}
.delete-modal{
  display: flex;
  flex-direction: column;
  width: 500px !important;
}