  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

  :root {
    --white-color: #FFFFFF;
    --background-color: #DDDDDD;
    --color-btn-enter: #7695EC;
    --gray-color: #777777;
    --black-color: #000000;
    --red-color:#FF5151;
    --green-color: #47B960;
  }

  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }